* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 98px;
    width: 68px;
    margin: 3px;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    /* top: 10px; */
    z-index: 2;
    margin: 20px;
    border-style: solid;
width: 95%;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
    word-spacing: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    height: 696px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('background.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    position: absolute;
    top: 30%;
    right: 10%;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 20px;
}


.headings {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

/*about */
.about {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;;
    height: 696px;
    justify-content: center;
    align-items: center;
    color: white;

}

.wrapper {
    text-align: center;
    color: white;
    font-size: larger;
    margin-bottom: 20px;
    padding-top: 85px;
    border: 2px solid black;
}

.about_page {
    padding-top: 75px;
    padding-bottom: 20px;
    font-size: 40px;
    color: black;
}

.alia {
    min-height: 50vh;
    width: 20%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    border: black solid 2px;
    float: left;
    margin-left: 10px;
    
}

.background2 {
    top: 0;
    right: 0;
    background-color: white;
    height: 900px;
    width: 100%;
}

.text1 {
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(247, 246, 246, 0.959);
    background-color: rgba(247, 246, 246, 0.959);
}

.text2 {
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(247, 246, 246, 0.959);
    background-color: rgba(247, 246, 246, 0.959);

}

.text3 {
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(247, 246, 246, 0.959);
    background-color: rgba(247, 246, 246, 0.959);
}

/*Services*/
.container {
    width: 100%;
    height: 100vh;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 20px;
}

.container h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 50px;
    font-weight: 600;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top: 10px;
}

/*container h1::after{
    content: '';
    background: #cacad4;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}*/
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    color: white;
    font-size: larger;
    margin-left: 290px;
}

.container::before {
    top: 0;
    right: 0;
    height: 900px;
    width: 100%;
}

.service {
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(247, 246, 246, 0.959);
    background-color: rgba(247, 246, 246, 0.959);
}
/* portfolio*/
.portfolio {
    width: 100%;
    height: 100vh;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 20px;
}

.portfolio h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 50px;
    font-weight: 600;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top: 10px
    ;
}
.row1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    color: white;
    font-size: larger;
    margin-left: 20px;
    
    
}
/* .portfolio::before {
    top: 0;
    right: 0;
    height: 900px;
    width: 100%;
} */

.folio {
    color: black;
    font-size: 20px;
    /* margin: 10px; */
    /* padding: 10px; */
    border: 2px solid rgba(247, 246, 246, 0.959);
    background-color: #f7f6f6f5;
}
.gambar{
    height: 100px;
    width: 100px;
    margin: 20px;
    align-items: center;
}
.gambar1{
    height: 100px;
    width: 80px;
    margin: 20px;
    align-items: center;
}
.gambar2{
    height: 100px;
    width: 170px;
    margin: 20px;
    align-items: center;
}

/*contact*/
.container2 {
    top: 0;
    right: 0;
    height: 900px;
    width: 100%;
    border: 2px solid black;
    padding-top: 150px;
}

.contact_us {
    font-size: 40px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

iframe {
    float: left;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #af4c4c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a04545;
}

.forms {
    float: left;
    border-radius: 5px;
    background-color: #f2f2f24b;
    width: 24%;
    margin-top: 50px;
    margin-left: 30px;
}
/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f6f6f5;
    padding: 2px 380px;
    position: absolute ;
    top:4200px;
    width: 100%;
  }
  
  .footer .copy {
    color: rgb(0, 0, 0);
  }
  
  .bottom-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
  }
  
  .bottom-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
  
  .bottom-links .links span {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 10px 0;
  }
  
  .bottom-links .links a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
  }

.fa .fa-facebook {
  background: #3B5998;
  color: rgb(0, 0, 0);
}

.fa .fa-twitter {
  background: #55ACEE;
  color: rgb(0, 0, 0);
}
.fa .fa-instagram {
    background: #125688;
    color: rgb(0, 0, 0);
  }